.ButtonPrimaryStyles {
  width: 17.4rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #365df0;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.036rem;
  line-height: 2.4rem;
  cursor: pointer;
  transition: background-color ease-in 200ms;
}
.ButtonPrimaryStyles:hover {
  background-color: #2f55cc;
}
.ButtonPrimaryStyles:active {
  background-color: #244aa8;
}

.ButtonSecondaryStyles {
  width: 12.2rem;
  height: 5rem;
  background-color: #e1e7fd;
  border: 0;
  border-radius: 0.5rem;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.036rem;
  color: #365df0;

  cursor: pointer;

  transition: all ease-in 300ms;
}
.ButtonSecondaryStyles:hover {
  background-color: #cad6fc;
}
.ButtonSecondaryStyles:active {
  background-color: #b9c6fa;
}

.floatActionButton {
  display: none;
  position: fixed;
  right: calc(100vw - 98.5vw);
  bottom: calc(100vw - 98.5vw);

  width: 5rem;
  height: 5rem;

  border: none;
  border-radius: 50%;
  background-color: #365df0;
  color: #ffffff;

  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.036rem;
  line-height: 5rem;

  cursor: pointer;
  transition: background-color ease-in 200ms;
}

.floatActionButton:hover {
  background-color: #2f55cc;
}
.floatActionButton:active {
  background-color: #244aa8;
}

@media only screen and (max-width: 1100px) {
  #add_tool {
    display: none;
  }
  .floatActionButton {
    display: block;
  }
}
