.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 60%;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
