.actions {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 4rem 0;
}

.inputBlock {
  display: flex;
  align-items: center;
}

.searchBar {
  background-image: url("/assets/Icon-Search-2px.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position-x: 1rem;
  background-position-y: 1.6rem;

  width: 20.3rem;
  padding-left: 4rem;
  border: 1px solid #ebeaed;
  height: 5rem;
  border-radius: 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  background-color: #f5f4f6;
}

.searchBar::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  color: #b1adb9;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  line-height: 2.6rem;
}

.checkboxInput {
  margin: 0 1rem;
  width: 1.5rem;
  background-color: #f5f4f6;
  border: 1px solid #dedce1;
  border-radius: 0.3rem;
}

.label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.button {
  width: 17.4rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #365df0;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.036rem;
  line-height: 2.4rem;
  cursor: pointer;
  transition: background-color ease-in 200ms;
}
.button:hover {
  background-color: #2f55cc;
}
.button:active {
  background-color: #244aa8;
}

@media only screen and (max-width: 1100px) {
  .inputBlock {
    display: flex;
    flex-direction: column;
  }
  .searchBar {
    width: 100%;
  }
  .checkbox {
    margin: 1rem 0;
  }
  .button {
    display: none;
  }
}
