.actions {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 4rem 0;
}

.inputBlock {
  display: flex;
  align-items: center;
}

.button {
  width: 17.4rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #365df0;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.036rem;
  line-height: 2.4rem;
  cursor: pointer;
  transition: background-color ease-in 200ms;
}
.button:hover {
  background-color: #2f55cc;
}
.button:active {
  background-color: #244aa8;
}

@media only screen and (max-width: 1100px) {
  .inputBlock {
    display: flex;
    flex-direction: column;
  }
  .button {
    display: none;
  }
}
